<div class="card mt-5 shadow-effect">
  <div class="card-body">
    <h4>Leave a Comment</h4>
    <p>You can leave a comment using this comment form</p>

    <form>
      <div class="form-group">
        <label for="">Name</label>
        <input
          class="form-control shadow-effect"
          placeholder="Enter your name here"
          type="text"
        />
      </div>
      <div class="form-group">
        <label for="">Comment</label>
        <textarea
          class="form-control shadow-effect"
          placeholder="Add your comment here"
          cols="30"
          rows="10"
        ></textarea>
      </div>

      <button class="btn btn-info btn-theme">Add your comment</button>
    </form>
  </div>
</div>
