<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
        perspiciatis quasi eum, sed veritatis vel laudantium corrupti itaque
        alias nam aliquid ea iste consequuntur mollitia dicta natus explicabo.
        Atque, omnis. Deleniti officiis unde quidem nesciunt ullam consequatur
        odio cum delectus soluta, natus accusantium. Quia eos, nisi culpa quae
        vel doloribus laborum totam. Vero ea voluptas, dignissimos minima a
        incidunt voluptate!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
        perspiciatis quasi eum, sed veritatis vel laudantium corrupti itaque
        alias nam aliquid ea iste consequuntur mollitia dicta natus explicabo.
        Atque, omnis. Deleniti officiis unde quidem nesciunt ullam consequatur
        odio cum delectus soluta, natus accusantium. Quia eos, nisi culpa quae
        vel doloribus laborum totam. Vero ea voluptas, dignissimos minima a
        incidunt voluptate!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
        perspiciatis quasi eum, sed veritatis vel laudantium corrupti itaque
        alias nam aliquid ea iste consequuntur mollitia dicta natus explicabo.
        Atque, omnis. Deleniti officiis unde quidem nesciunt ullam consequatur
        odio cum delectus soluta, natus accusantium. Quia eos, nisi culpa quae
        vel doloribus laborum totam. Vero ea voluptas, dignissimos minima a
        incidunt voluptate!
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
