<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/5861907/pexels-photo-5861907.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-sucess text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views - 123,456</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 20, 2023</small
          >

          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ut
            qui rerum enim quaerat quisquam fugit culpa delectus magni! Ducimus
            recusandae cupiditate doloremque soluta necessitatibus voluptatem
            quibusdam voluptate quo quas. Iusto sequi libero odit eius ratione
            excepturi quos eveniet. Officiis nam doloribus ipsa placeat
            laudantium quos autem quam tempora rem, voluptatibus sequi
            voluptatum iste consectetur est at voluptate voluptates voluptatem.
            Eveniet distinctio fugit harum commodi dolorem eius rerum, inventore
            sequi eum nostrum hic necessitatibus obcaecati doloribus dignissimos
            quam dolore maiores expedita debitis similique tenetur dicta!
            Tenetur ipsa velit doloribus ut. Quasi quod iusto quaerat, sequi
            ipsa facere tempore, officia assumenda corrupti numquam cum nobis
            eius officiis pariatur? Beatae pariatur qui eius hic eum nemo, optio
            quos harum molestias. Alias, nesciunt. Eveniet quo quasi debitis
            omnis nam inventore aliquam deserunt quisquam praesentium est odio
            vel odit temporibus ullam, minima maiores officiis illo tenetur quod
            consequatur eaque. Optio deserunt culpa unde sapiente. Consectetur
            explicabo rerum porro harum distinctio omnis quis necessitatibus
            maiores amet commodi eaque, minima saepe consequuntur ad, aut qui
            praesentium itaque iusto. Tempore quasi consectetur veniam qui hic,
            vero incidunt! Deleniti eaque consectetur cumque reprehenderit et
            molestiae fugit. Est corrupti nobis officiis, reiciendis aliquid non
            voluptatibus. Saepe odio perferendis maiores, ratione ex
            consequatur, aperiam maxime velit dicta, consequuntur tempora
            deleniti. Accusamus vel debitis quo iure, dolorum reiciendis totam
            dolor mollitia, et id deserunt voluptas veniam. Consequuntur
            recusandae repellat, expedita officia ut molestiae veniam ex tempora
            voluptate id nobis fuga cupiditate. Ullam molestias commodi modi
            delectus vel tenetur nesciunt optio blanditiis voluptatum nemo
            tempore sunt aperiam deserunt porro voluptas sequi molestiae quos
            vero aspernatur voluptatibus necessitatibus adipisci veniam, ipsam
            aliquam? Temporibus! Cum architecto hic iure eos in dolorem
            quibusdam at doloremque. Sapiente, at? Officiis itaque quos maxime
            facilis dolores quidem consequatur enim doloribus similique
            dignissimos, voluptatibus soluta eveniet sequi nam esse.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comments-list></app-comments-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
